<!doctype html>
<html lang="en">
    <body style="font-family: sans-serif;">
        <p><a href="*|ARCHIVE|*">Read this e-mail in your browser</a></p>
        <p>Hello !
            <br>Please find below the latest article for the blog Garbage collector - https://blog.zedas.fr
            <br>You're receiving this message because you've subscribed to the e-mail new article notification. If you don't wan't to receive them anymore, just use this <a href="*|UNSUBSCRIBED|*">unsubscribe</a> link.
        </p>
        <hr>
        <h1>{{ article_title }}</h1>
        <h2>{{ article_date }} - <a href="{{ article_url }}">Read on the site</a></h2>
        {{ article_content }}
        <hr>
        <p>You're receiving this message because you've subscribed to the e-mail new article notification. If you don't wan't to receive them anymore, just use this <a href="*|UNSUBSCRIBED|*">unsubscribe</a> link.</p>
    </body>
</html>